@using BusinessLayer.Dtos.Trips;
@model List<TripDto>
<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Turunu Planla</h6>
            <h3 class="hny-title">Popüler Lokasyonlar</h3>
        </div>
        <div class="row bottom-ab-grids">

            @foreach (var trip in Model)
            {
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/Traversal-Liberty/assets/images/g3.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>@trip.Title</h4>
                                    <p>@trip.Content</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Ücret </h6>
                                        <span>@trip.Price TL</span>
                                    </div>
                                    <p class="sub-para">@trip.Day Gün @(trip.Day + 1) Gece</p>
                                    @* <a href="~/Traversal-Liberty/contact.html" class="btn btn-style btn-secondary mt-5">Rezervasyon</a> *@
                                </div>
                            </div>
                        </a>
                    <a href="~/Traversal-Liberty/contact.html" class="btn btn-style btn-secondary mt-2">Rezervasyon</a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>